@model List<BenchBnB.Models.Bench>

@{
    ViewBag.Title = "Bench List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div id="SeatFilter" class="float-right">
    <div>
    @Html.Label("Minimum Seats")
    @Html.TextBox("minSeats", "")
    </div>
    <div>
    @Html.Label("Maximum Seats")
    @Html.TextBox("maxSeats", "")
    </div>
</div>

<div style="height: 470px"> <!-- Placeholder Div -->
    
    <div id="map" class="map float-left"></div>
    <div id="myDynamicTable" class="scrollable-table float-right" style="width: 60%"></div>
    
</div>

<br />
<p>@Html.ActionLink("Add A Bench!", "Add", null, new { @class = "btn btn-success" })</p>

<script src="~/Scripts/BenchIndex/tableGenerator.js"></script>
<script src="~/Scripts/BenchIndex/map.js"></script>
<script src="~/Scripts/BenchIndex/clickableBenchList.js"></script>
