@model BenchBnB.Models.ViewModels.AllLists

@{
    ViewBag.Title = "Bench List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<div style="height: 400px">
    <div id="map" class="map float-left"></div>

    <script src="~/Scripts/map.js"></script>

    <div class="scrollable-table float-right" style="width: 60%">
        <table id="benchList" class="table table-hover table-scroll">
            <thead class="thead-dark">
                <tr>
                    <th>Bench</th>
                    <th>Description</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var bench in Model.Benches)
            {
                    <tr>
                        <td>@bench.Name</td>
                        <td>@bench.Description</td>
                        <td>@Html.ActionLink("View", "View", "Bench", new { id = bench.Id }, new { @class = "btn btn-primary btn-sm" })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<br />
<p>@Html.ActionLink("Add A Bench!", "Add", null, new { @class = "btn btn-success" })</p>
