@model BenchBnB.Models.ViewModels.AllLists

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div id="scrollTable" class="scrollable-table">
    <table id="benchList" class="table table-hover table-scroll my-custom-scrollbar">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Bench Name</th>
                <th>Submitter's Name</th>
                <th>Description</th>
                <th>Date Discovered</th>
                <th>Lat</th>
                <th>Long</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bench in Model.Benches)
            {
                <tr>
                    <td>@bench.Id</td>
                    <td>@bench.Name</td>
                    <td>@bench.User.FirstName @bench.User.LastName</td>
                    <td>@bench.Description</td>
                    <td>@bench.DateDiscovered.ToString("d")</td>
                    <td>@bench.Latitude</td>
                    <td>@bench.Longitude</td>
                </tr>
            }
        </tbody>
    </table>
</div>

    <p>@Html.ActionLink("Add A Bench!", "Add", null, new { @class = "btn btn-success" })</p>

<script src="~/Scripts/scrollTest.js"></script>
